@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Rowdies&display=swap");

h5 {
  font-size: 0.95rem;
}

.bg-header {
  background-color: rgb(68, 66, 66);
}

.logo {
  font-size: 3em;
  font-family: "Rowdies", cursive;
  color: #f8f9fa;
}
.logo:hover {
  color: #f8f9fa;
}
.input-busqueda {
  height: 2.5em;
}

.boton {
  position: absolute;
  right: 1.4em;
  width: 15%;
  height: 2.5em;
  background-color: #db1f32;
  border: gainsboro;
}
.boton:hover {
  background-color: rgb(156, 8, 8);
}
.boton:focus {
  background-color: rgb(156, 8, 8);
}
.fa-search {
  color: rgb(235, 217, 217);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.icons i {
  font-size: 2em;
  padding-right: 0.5em;
  color: #f8f9fa;
}

.fa-user:hover {
  color: orange;
  cursor: pointer;
}
.fa-instagram:hover {
  color: rgb(209, 39, 152);
  cursor: pointer;
}
.fa-whatsapp:hover {
  color: rgb(34, 176, 126);
  cursor: pointer;
}
.fa-facebook-f:hover {
  color: rgb(24, 119, 242);
  cursor: pointer;
}
.fa-shopping-cart:hover {
  color: #18b4d3;
  cursor: pointer;
}

.expand-menu {
  background-color: rgb(177, 7, 7);
  height: 10em;
  width: 50vw;
  border-radius: 5px;
}
.expand-menu a{
  color: white;
  cursor: pointer;
}
.expand-menu a:hover{
  background-color: rgb(177, 7, 7);
  color:white;
  
}

.fourth-column-elements {
  margin: 0 auto 4em auto;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 2em;
  border-bottom: 5px solid red;
}
.btn-add-to-cart {
  width: 100%;
  padding-bottom: 2em;
}

.flecha-izquierda {
  position: relative;
  right: 14em;
  padding: 4em 5em 1em 0;
  border-radius: 50%;
}

.flecha-derecha {
  position: relative;
  left: 10em;
  padding: 4em 5em 1em 0;
  border-radius: 50%;
}

.bg-footer {
  background-color: rgb(68, 66, 66);
}
.bg-footer p {
  color: #f8f9fa;
}
.listado-preguntas{
  list-style: none;
}
/*Pagina login*/
