@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Rowdies&display=swap");

h5 {
  font-size: 0.95rem;
}

.bg-header {
  background-color: rgb(68, 66, 66);
}

.logo {
  font-size: 3em;
  font-family: "Rowdies", cursive;
  color: #f8f9fa;
}
.logo:hover {
  color: #f8f9fa;
}
.input-busqueda {
  height: 2.5em;
}

.boton {
  position: absolute;
  right: 1.4em;
  width: 15%;
  height: 2.5em;
  background-color: #db1f32;
  border: gainsboro;
}
.boton:hover {
  background-color: rgb(156, 8, 8);
}
.boton:focus {
  background-color: rgb(156, 8, 8);
}
.fa-search {
  color: rgb(235, 217, 217);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.icons i {
  font-size: 2em;
  padding-right: 0.5em;
  color: #f8f9fa;
}
.social-networks{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right:0;
  bottom:0;
  
}
.social-networks i {
  font-size: 2em;
margin-top:0.5em;
padding:0.5em;
border-radius:50%;

}
.fa-facebook{
  background-color:rgb(24, 119, 242);
  color: white;
  cursor:pointer;
}
.fa-instagram {
  background-color: rgb(209, 39, 152);
  cursor: pointer;
  color:white;
 
}
.fa-whatsapp{
  background-color: rgb(34, 176, 126);
  color:white;
  cursor: pointer;
}

.fa-user:hover {
  color: orange;
  cursor: pointer;
}

.fa-shopping-cart:hover {
  color: #18b4d3;
  cursor: pointer;
}

.expand-menu {
  background-color: rgb(177, 7, 7);
  height: 10em;
  width: 50vw;
  border-radius: 5px;
  
}
.miCuentaResponsive{
  display: none;
}

.carrito_responsive{
  display: none;
}

.expand-menu a{
  color: white;
  cursor: pointer;
}
.expand-menu a:hover{
  background-color: rgb(177, 7, 7);
  color:white;
  
}

.fourth-column-elements {
  margin: 0 auto 4em auto;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 2em;
  border-bottom: 5px solid red;
}
.btn-add-to-cart {
  width: 100%;
  padding-bottom: 2em;
}

.flecha-izquierda {
  position: relative;
  right: 10em;
  padding: 4em 5em 1em 0;
  border-radius: 50%;
}

.flecha-derecha {
  position: relative;
  left: 10em;
  padding: 4em 5em 1em 0;
  border-radius: 50%;
}

.bg-footer {
  background-color: rgb(68, 66, 66);
}
.bg-footer p {
  color: #f8f9fa;
}
.listado-preguntas{
  list-style: none;
}



/*Pagina login*/
.boton-inicio-sesion{
  background-color:rgb(6, 165, 117);
  color:white;
}
.boton-registrar{
  background-color:rgb(195, 31, 31);
cursor: pointer;

}



/*Pagina miCuenta*/
.fa-user-circle{
  font-size: 15em;
}
.articles-responsives{
  display: flex;
  flex-wrap: nowrap;
}
.tarjetas{
  border-radius: 0.8em;
  background-color: rgb(158, 7, 7);
  padding:1.5em;
 cursor: pointer;
}
.tarjetas p{
color: white;
text-align: center;
font-weight: bolder;
font-size: 1.3em;
margin-top: 0.5em;
}
#fotoPerfil img{

border-radius: 50%;
}
#nombreUsuario{
  font-family: "Merriweather", serif;
 font-size: 2.5em;
 
}


#btnLogoutGoogle{
  position:relative;
  right:0;
  
}

.bg-user{
  background-image: url(../img/background_user_3.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}



@media screen and (max-width: 48em){
 
 .logo{
   font-size: 2em;
   margin: auto;
 }
 .boton{
  right:0.5em;
}
 .icons a{
  display: none;

 }
 .expand-menu{
   height: 53vh;
 }
 .carrito_responsive{
   display: flex;
 }
.micuenta{
  display: none;
}
.miCuentaResponsive{
  display:flex;
}

.carrito_responsive{
display: flex;
}
.title{
 text-align: center;
  font-size: 1.5em;
}



.menuFooter{  
margin-bottom: 2em;
}

.informacion{
 
text-align: center;
}
.listado-preguntas {
display:flex;
flex-direction: column;
justify-content: center;
padding:0;

}
.listado-preguntas li{
  margin: auto;
}

.container-newsletter{
  margin-top:1em;
}
.container-newsletter p{
  text-align:center;
}
.inputNewsletter{
  display: flex;
margin: auto;
}
 .boton-suscribirme{
   display: flex;
   margin:0.5em auto;
  
}
.social-networks{
  display: none;
}

/*Estilo que se encuentran en miCuenta.html*/
.articles-responsives{
  display: flex;
  flex-wrap: wrap;

}
#nombreUsuario{
  font-size: 1.7em;
text-align: center;
}
.tarjetas{
  margin-bottom: 1em;
  padding:1.5em;
}

#btnCustomBackground{
  display: flex;
  margin:1em auto 0;
  
}
#btnLogout{
  display: flex;
  margin: 1em auto 0;
}


/*Estilo de mapa que se encuentra en ayuda.html*/
.mapa{  
  height: 15em;
}


}

@media screen  and (max-width:62em){

  .logo{
    font-size: 2em;
    margin: auto;
  }
  .boton{
   right:0.5em;
 }
  .icons a{
   display: none;
 
  }
  .expand-menu{
    height: 53vh;
  }
  
  .title{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
  }
  .micuenta{
    display: none;
  }

  .miCuentaResponsive{
  display: flex;
}

.carrito_responsive{
  display: flex;
}
  #btnCustomBackground{
    display: flex;
    margin:1em auto 0;
    
  }
  #btnLogout{
    display: flex;
    margin: 1em auto 0;
  }
  .social-networks{
    display: none;
  }
  
  .second-column{
    margin-top: 0.2em;
  }
  .third-column{
    margin-top: 0.3em;
  }
  
.boton-suscribirme{
  margin-top: 1em;
}

}
@media screen and (max-width:75em){
 
 .logo{
   font-size: 2em;

  }
  

.micuenta{
  display: flex;
}
.boton-suscribirme{
  margin-top: 0.5em;
}
.second-column{
  margin-top: 0.2em;
}
.third-column{
  margin-top: 0.3em;
}

.expand-menu{
 width: 60vw;
}
}

@media screen and (max-width:120em){
  .micuenta{
    display: none;
  }
  
  .second-column{
    margin-top: 0.2em;
  }
  .third-column{
    margin-top: 0.3em;
  }
 
}